.form-column {
  margin: 0px !important;
  width: 50% !important;
  float: left;
}

@media screen and (max-width: 750px) {
  .form-column {
    margin: 0px !important;
    width: 100% !important;
    clear: both;
  }
}

@media screen and (min-width: 751px) {
  .form-column {
    margin: 0px !important;
    width: 50% !important;
    float: left;
  }
}