{% extends "base.html" %}

{% block content %}

  <hr>

  <div class="row">

    <div class="twelve columns">
    
      <h1>Welcome, {{ physician.fname.capitalize() }} </h1>
          
    </div>

    <div class="twelve columns" style="display: flex; justify-content: space-between;">
    
      <a class="button button-primary" href="{{ url_for('physician', username=physician) }}">Home</a>
      
      <a class="button button-primary" href="{{ url_for('logout') }}">Logout</a>
    
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="twelve columns">
    
      <h1>Record List</h1>
      
      <a class="button button-primary" href="{{ url_for('newrecord', username=physician) }}">Create New Record</a>
      
    </div>

    {% for record in records %}

      <div class="twelve columns" style="border: solid black 1px; padding: 2.5%; margin-bottom: 10px;">

        <p>{{ record.patlname }}, {{ record.patfname }}</p>

        <p>Creation Date: {{ record.create_date }}</p>
        
        <p>Last Edit Date: {{ record.last_edit_date }}</p>
        
        <p><a class="button" href="{{ url_for('record', username=physician, id=record.id) }}">Update</a></p>

      </div>

    {% endfor %}
  
  </div>

{% endblock %}
