{% extends "base.html" %}

{% block content %}

  <hr>

  <div class="row">

    <div class="twelve columns">
    
      <h1>Welcome, {{ decode(physician.fname, key).capitalize() }} </h1>

    </div>

    <div class="twelve columns" style="display: flex; justify-content: space-between;">
    
      <a class="button button-primary" href="{{ url_for('login') }}">Home</a>

      <a class="button button-primary" href="{{ url_for('logout') }}">Logout</a>
    
    </div>

  </div>

  <hr>
  
  <!-- DISPLAY FLASH MESSAGES FOR AUTHENTICATED USERS HERE -->

  {% if current_user.is_authenticated %}

  {% with messages = get_flashed_messages() %}

    {% if messages %}

      <ul>

      {% for message in messages %}

      <li>{{ message }}</li>

      {% endfor %}

      </ul>

    {% endif %}

  {% endwith %}
  
  {% endif %}

  <div class="row">

    <div class="twelve columns">
    
      <h1>Record List</h1>
      
      <a class="button button-primary" href="{{ url_for('newrecord', username=physician, key=key) }}">Create New Record</a>
      
    </div>
    
  </div>

  {% if records|length > 0 %}

    <hr>

  {% else %}

    <hr>

    <h6>No Records to Display</h6>

  {% endif %}

  <div class="row">

    {% for record in records %}

      <div class="twelve columns" style="border: solid black 1px; padding: 2.5%; margin-bottom: 10px;">

        <p>{{ decode(record.patlname, key).capitalize() }}, {{ decode(record.patfname, key).capitalize() }}</p>
        
        <p>Date of Birth: {{ decode(record.patdob, key) }}</p>

        <p>Date Created: {{ record.date_created }}</p>
        
        <p>Date Last Modified: {{ record.date_last_modified }}</p>
        
        <p><a class="button" href="{{ url_for('record', username=physician, key=key, id=record.id) }}">Update</a></p>

        <p><a class="button" href="{{ url_for('deleterecord', username=physician, key=key, id=record.id) }}">Delete</a></p>

      </div>

    {% endfor %}
  
  </div>

  {% if next_url or prev_url%}

    <hr>

  {% endif %}

  <div class="row">

    <div class="twelve columns">

      {% if prev_url %}

        <a href="{{ prev_url }}" style="float: left;">Previous</a>

      {% endif %}

      {% if next_url %}

        <a href="{{ next_url }}" style="float: right;">Next</a>

      {% endif %}

    </div>

  </div>

  {% if next_url or prev_url%}

    <hr>

  {% endif %}

{% endblock %}
