{% extends "base.html" %}

{% block content %}

  <h1>Register</h1>

  <form action="" method="post">

    {{ form.hidden_tag() }}

    <div class="row">

      <div class="form-column"><!-- LEFT SIDE OF FORM -->

        <p><!-- USERNAME FIELD -->

          {{ form.username.label }}

          <br>

          {{ form.username(size=32) }}

          <br>

          {% for error in form.username.errors %}

            <span style="color: red;">[{{ error }}]</span>

        {% endfor %}

        </p>

        <p><!-- PASSWORD FIELD -->

          {{ form.userpwd.label }}

          <br>

          {{ form.userpwd(size=32) }}

          <br>

          {% for error in form.userpwd.errors %}

            <span style="color: red;">[{{ error }}]</span>

          {% endfor %}

        </p>

        <p><!-- PASSWORD CONFIRMATION FIELD -->

          {{ form.userpwd2.label }}

          <br>

          {{ form.userpwd2(size=32) }}

          <br>

          {% for error in form.userpwd2.errors %}

            <span style="color: red;">[{{ error }}]</span>

          {% endfor %}

        </p>
      
      </div>

      <div class="form-column"><!-- RIGHT SIDE OF FORM -->
      
            <p><!-- FIRST NAME FIELD -->

          {{ form.fname.label }}

          <br>

          {{ form.fname(size=32) }}

          <br>

          {% for error in form.fname.errors %}

            <span style="color: red;">[{{ error }}]</span>

          {% endfor %}

        </p>
        
        <p><!-- LAST NAME FIELD -->

          {{ form.lname.label }}

          <br>

          {{ form.lname(size=32) }}

          <br>

          {% for error in form.lname.errors %}

            <span style="color: red;">[{{ error }}]</span>

          {% endfor %}

        </p>

        <p><!-- SUBMISSION BUTTON -->

          {{ form.submit() }}

        </p>

      </div>

    </div>

  </form>

{% endblock %}
